.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: auto;
    align-items: center;
}
.mx-auto{
    font-size: medium !important;
}
.card-title{
    font-size: medium !important;
    font-weight: bold !important;
}
.card-item{
    margin: 11px 11px !important;
    border-radius: 5px !important;
    max-height: fit-content;
    min-width: 260px !important;
    flex: 1;
}
.card-text{
    font-size: large !important;
    font-weight: bold !important;
}
.odd-card{
    background-color: rgb(246, 217, 249) !important;
    box-shadow: rgb(196, 159, 207) 0px 0px 10px 0px !important;

}
.even-card{
    background-color: rgb(101, 20, 110) !important;
    color: white !important;
    box-shadow: rgb(88, 33, 103) 0px 0px 10px 0px !important;

}