.main-table{
    border-radius: 5px !important;
    /* box-shadow: rgb(88, 33, 103) 0px 0px 10px 0px !important; */
    margin: 10px;
    max-height: 400px !important;
}
th{
    background-color: rgb(101, 20, 110);
    color: white;
}
.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .pagination {
    margin-right: 16px;
  }